<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<Title>Koha -- Authority details</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
    window.onload = go();

    function go(){
        var index_start = "<!-- TMPL_VAR NAME='index' -->";
        var fieldid = $("#"+index_start, opener.opener.document).parents('div.tag').attr('id');

        opener.opener.clear_field(fieldid);
        var subfieldid;
        <!-- TMPL_LOOP NAME="subfields_loop" -->
            subfieldid = opener.opener.add_subfield(
                fieldid,
                "<!-- TMPL_VAR NAME='marc_subfield' -->",
                "<!-- TMPL_VAR NAME='marc_value' ESCAPE='JS' -->",
                subfieldid
            );
        <!-- /TMPL_LOOP -->
        opener.opener.add_subfield(fieldid, '9', "<!-- TMPL_VAR NAME='authid' -->");

        opener.close();
        window.close();

        return false;
    }
</script>
</head>
<body>

<div id="doc" class="yui-t7">
   <div id="bd">
    <div class="yui-g">



</div>
</div>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
