# Koha Cronjob example
# cp ~/misc/cronjobs/crontab.example ~/bin/crontab.koha
# should be under git in koha-sites.git

# Koha env variables
PERL5LIB=/home/koha/src
#PERL5LIB=/home/koha/src:/home/koha/lib/koha-patron/lib
KOHA_CONF=/home/koha/etc/koha-conf.xml

# Cron usage
KOHA_CRON_PATH=/home/koha/bin/cron
MAILTO=sysop@biblibre.com
#MAILTO=sysop@biblibre.com,autre@mail.com

# Overdue notices
0 1 * * *  $KOHA_CRON_PATH/overdues.sh

# Advance notices
10 1 * * *  $KOHA_CRON_PATH/advance_notices.pl -c

# Send emails
15 * * * *  $KOHA_CRON_PATH/process_message_queue.pl

# Cancel expired holds
0 1 * * *  $KOHA_CRON_PATH/holds/cancel_expired_holds.pl >/dev/null 2>&1

# Clean up databases nightly.  Be sure not to run this with --sessions during a time when the system is in use!
16 1 * * * $KOHA_CRON_PATH/cleanup_database.pl --sessions 10

# Solr Jobs
00 21 * * * perl /home/koha/src/misc/migration_tools/rebuild_solr.pl -o

# Update borrowers
00 2 * * * sh $KOHA_CRON_PATH/update_borrowers.sh

# WF merge dev/solr
#0 1 * * * export KOHA_CONF=/home/koha/etc/koha-conf.xml; export PERL5LIB=/home/koha/src; perl /home/koha/src/misc/cronjobs/clean_batchimport.pl -status cleaned -duration 1 -laps MONTH

# Remove unused authorities
0 2 * * * perl /home/koha/src/misc/migration_tools/remove_unused_authorities.pl --all 
